@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');



p {
  border-right: solid 5px rgba(0, 0, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 25px;
  color: white;
}

/* Animation */
p {
  animation: animated-text 10s steps(200,end) 1s 1 normal both,
             animated-cursor 1200ms steps(200,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 1111px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color:blue;}
  to{border-right-color: transparent;}
}